Imports

In [16]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
# %load_ext autoreload
#%autoreload 2

# import re

In [17]:
df = pd.read_csv("healthcare-dataset-stroke-data.csv")
clean_df = df.copy()

In [28]:
df.head(3)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1

1. Preprocessing / Data Cleaning

In [21]:
if "Other" in clean_df.gender.value_counts():
    clean_df = df[df.gender != 'Other']
    # on va en discuter tkt
    clean_df = clean_df[clean_df.age>30]
    # clean_df = clean_df.dropna(axis=0, subset='bmi')

    # binaires Ã  faire dans la pipeline dans le script bonus
    clean_df.ever_married = clean_df.ever_married.apply(lambda x : 1 if x == "Yes" else 0)
    clean_df.Residence_type = clean_df.Residence_type.apply(lambda x : 1 if x == "Urban" else 0)

In [29]:
clean_df.head(3)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,1,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,1,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,1,Private,Rural,105.92,32.5,never smoked,1

2. Normalisation de la donnÃ©e

3. Extraire les informations importantes


A partir de 55 ans, chaque dÃ©cÃ©nie double le risque d'AVC.



D'aprÃ¨s :
Rothwell PM, Coull AJ, Silver LE, et al. Population-based study of event-rate, incidence, case fatality, and mortality for all acute vascular events in all arterial territories (Oxford vascular study). Lancet 2005; 366 : 1773â€“83.

4. La veille ðŸ˜¢ðŸ˜¢ðŸ˜¢

4.1 La classification supervisÃ©e

DÃ©crire le concept lui mÃªme puis 3 algos

4.2 1er algorithme de classification supervisÃ©e

4.2 2e algorithme de classification supervisÃ©e

4.3 3e algorithme de classification supervisÃ©e

4.99. La veille est enfin finit ! ðŸ™‚ðŸ™‚ðŸ™‚